In [16]:
import numpy as np
import pandas as pd

from requests_oauthlib import OAuth1

import pprint
import json
import time
from collections import defaultdict
import pickle

import requests
import twitter
import tweepy

import data_scientists

In [17]:
api = data_scientists.get_api()

In [18]:
seed_list = data_scientists.get_seed_list()

In [19]:
len(seed_list)

100

In [ ]:
ds_accounts = data_scientists.get_data_scientists(api, seed_list)

In [20]:
friends_list = []

In [21]:
def limit_handled(cursor):
    while True:
        try:
            yield cursor.next()
        except tweepy.TweepError:
            time.sleep(15 * 60)
            continue
        except StopIteration:
            break
        except TypeError:
            break

In [49]:
for index, user in enumerate(seed_list[90:100]):
    cursor = tweepy.Cursor(api.friends_ids, user._json['id']).pages()
    
    print(index, user._json['name'])
    
    if cursor: 
        for friends_id in limit_handled(cursor):
            friends_list.append(friends_id)
    
    else:
        pass

0 David Gutelius
1 Doug Cutting
2 Benedikt Koehler
3 Mark Faridani
4 Andreas Weigend
5 Mike Olson
6 Hilary Mason
7 Eric Xu, PhD (徐宥)
8 Matt Wood
9 Werner Vogels

In [53]:
len(friends_list)

100

In [54]:
for d_list in friends_list:
    print(len(d_list))

905
1488
953
48
630
4435
715
2117
2584
751
417
716
1112
132
8
134
1658
395
873
1534
544
507
821
98
175
189
633
4061
1460
283
599
948
378
3405
210
1051
362
574
157
168
1454
1616
1973
485
1447
159
1999
135
1428
564
624
1359
888
1180
2292
741
410
2138
3169
296
1774
287
398
1985
278
195
550
855
1087
2260
20
1237
11
438
1720
1889
1167
1083
1130
2470
198
2947
4306
383
917
143
115
1281
221
827
559
129
4536
1317
244
240
1578
2340
888
173

In [55]:
following = defaultdict(int)

for d_list in friends_list:
    for user in d_list:
        following[user] += 1

In [56]:
users = pd.DataFrame()

users['id'] = following.keys()

In [57]:
users['following'] = [following[user] for user in users['id']]

In [58]:
len(users)

68864

In [59]:
big_users = users[users['following'] >= 10]

In [60]:
big_users.sort_values(['following'],ascending=False)

                       id  following
2238               765548         67
565              14839109         52
787             216939636         51
8380             16061930         51
8374             17163609         50
12569            14344469         49
304              16017475         44
779              48008938         44
465             175282603         43
2257             18318677         43
626              20167623         42
726              33838201         40
904              44196397         39
3223             50393960         39
11986             2384071         39
2228            534563976         39
509              80422885         38
871             130745589         38
873              33836629         38
182               5943622         38
458    911297187664949248         37
895              86351835         36
1281             18463930         36
14134            18367054         35
8297             22512172         35
12565            14578294         35
8373             15379361         35
712                816653         35
2297               813286         35
8405             20963651         34
...                   ...        ...
885             338526004         10
858             184983241         10
15268            50940456         10
15271             6792792         10
822              86817052         10
2193           2720877595         10
2273           1137408992         10
3616             14875983         10
14425            21393134         10
14200          1562518867         10
14204           611597719         10
14215           321164722         10
14233           229638179         10
3606              8392632         10
3569           2288653218         10
3527           2814476470         10
14320            14837691         10
14423           262756084         10
3499             15278016         10
14716           132051240         10
14455            17412858         10
14528            15829680         10
3416            283755001         10
14541            20641938         10
3375             50343115         10
14630            37570179         10
3317             14968475         10
3216             25073877         10
14640            32311190         10
45528                6140         10

[772 rows x 2 columns]

In [61]:
users_following = []

for user in following.keys():
    users_following.append(api.get_user(user))

RateLimitError: [{'message': 'Rate limit exceeded', 'code': 88}]

In [15]:
big_users

NameError: name 'big_users' is not defined

In [74]:
append_list = data_scientists.get_list_ids()

AttributeError: module 'data_scientists' has no attribute 'get_list_ids'

In [76]:
big_users_list = list(big_users['id'])

In [81]:
type(big_users_list)

list

In [82]:
with open('users.pickle', 'wb') as to_write:
    pickle.dump(big_users_list, to_write)

In [2]:
twitter_list = data_scientists.get_list_ids()

In [3]:
new_users_list = []

with open('users.pickle', 'rb') as to_read:
    new_users_list = pickle.load(to_read)

In [6]:
len(new_users_list)

772

In [13]:
names = []

for user in new_users_list:
    names.append(api.get_user(user)._json['name'])