In [12]:
import numpy as np
import pandas as pd

from requests_oauthlib import OAuth1

import pprint
import json
import time
from collections import defaultdict

import requests
import twitter
import tweepy

import data_scientists

In [2]:
api = data_scientists.get_api()

In [3]:
seed_list = data_scientists.get_seed_list()

In [4]:
len(seed_list)

100

In [ ]:
ds_accounts = data_scientists.get_data_scientists(api, seed_list)

In [5]:
friends_list = []

In [6]:
def limit_handled(cursor):
    while True:
        try:
            yield cursor.next()
        except tweepy.TweepError:
            time.sleep(15 * 60)
            continue
        except StopIteration:
            break
        except TypeError:
            break

In [50]:
for index, user in enumerate(seed_list[90:100]):
    cursor = tweepy.Cursor(api.friends_ids, user._json['id']).pages()
    
    print(index, user._json['name'])
    
    if cursor: 
        for friends_id in limit_handled(cursor):
            friends_list.append(friends_id)
    
    else:
        pass

0 Pete Warden
1 Josh Wills
2 Marck Vaisman
3 Andrew Brust
4 Simon Rogers
5 Ronald Schmelzer
6 Peter Skomoroch
7 Data Science Central
8 Denny Britz
9 Ryan R. Rosario
10 Merv Adrian
11 ((( ted_dunning )))
12 P. Oscar Boykin
13 Jure Leskovec
14 Mark Madsen

In [51]:
len(friends_list)

90

In [43]:
for d_list in friends_list:
    print(len(d_list))

905
1487
953
48
630
4434
715
2117
2584
751
417
716
1112
132
8
134
1658
395
873
1533
544
507
819
98
175
189
633
4062
1460
283
599
948
378
3402
210
1051
362
574
157
168
1454
1615
1971
485
1447
159
1999
135
1428
564
624
1357
888
1180
2291
741
410
2138
3167
296
1774
287
398
1985
278
196
550
855
1087
2260
20
1237
11
438
1720

In [44]:
following = defaultdict(int)

for d_list in friends_list:
    for user in d_list:
        following[user] += 1

In [45]:
users = pd.DataFrame()

users['id'] = following.keys()

In [46]:
users['following'] = [following[user] for user in users['id']]

In [47]:
big_users = users[users['following'] >= 10]

In [48]:
big_users.sort_values(['following'],ascending=False)

                       id  following
2237               765548         47
565              14839109         41
787             216939636         37
8372             17163609         36
12567            14344469         34
8378             16061930         34
304              16017475         33
2227            534563976         33
509              80422885         33
465             175282603         33
626              20167623         32
2256             18318677         30
779              48008938         30
871             130745589         29
726              33838201         29
3222             50393960         28
904              44196397         28
712                816653         28
2106             14109167         28
854            4398626122         27
895              86351835         27
458    911297187664949248         27
8371             15379361         26
574              19968025         26
2273             69133574         26
873              33836629         26
824            1482581556         26
11984             2384071         26
182               5943622         26
2138            135945569         25
...                   ...        ...
8474               809273         10
8733             15534499         10
10392             9308212         10
338            1894231788         10
9647             34181507         10
9645             18994444         10
9095             14457688         10
9264              6385432         10
9291              2735591         10
8220             56843433         10
12555          1081568149         10
8181           2558067834         10
5949            626681652         10
14113            15414807         10
3193           2344530218         10
3648             16984977         10
13586            89249164         10
9556             13299972         10
3712               817386         10
4927           1008658832         10
5990             19915112         10
12640            12166822         10
7330             38790830         10
7792            191029020         10
7799            227423290         10
13198            19658826         10
13180            23751864         10
7875            188352302         10
555              18850305         10
13585            43186378         10

[398 rows x 2 columns]