In [12]:
import numpy as np
import pandas as pd

from requests_oauthlib import OAuth1

import pprint
import json
import time
from collections import defaultdict

import requests
import twitter
import tweepy

import data_scientists

In [2]:
api = data_scientists.get_api()

In [3]:
seed_list = data_scientists.get_seed_list()

In [4]:
len(seed_list)

100

In [ ]:
ds_accounts = data_scientists.get_data_scientists(api, seed_list)

In [5]:
friends_list = []

In [6]:
def limit_handled(cursor):
    while True:
        try:
            yield cursor.next()
        except tweepy.TweepError:
            time.sleep(15 * 60)
            continue
        except StopIteration:
            break
        except TypeError:
            break

In [9]:
for index, user in enumerate(seed_list[30:45]):
    cursor = tweepy.Cursor(api.friends_ids, user._json['id']).pages()
    
    print(index, user._json['name'])
    
    if cursor: 
        for friends_id in limit_handled(cursor):
            friends_list.append(friends_id)
    
    else:
        pass

Bill Franks
Kenneth Cukier
Andrew Ng
Kathleen Walch
Jeremy Howard
Anthony Goldbloom
Andy Kirk
Wes McKinney
John Elder
Alan Smeaton
Kaggle
Joe Hellerstein
Christopher D. Long
고영혁 (Dylan Ko)
Hadley Wickham

In [36]:
len(friends_list)

30

In [11]:
for d_list in friends_list:
    print(len(d_list))

905
1487
953
48
630
4434
715
2117
2584
751
417
716
1112
132
8
134
1658
395
873
1533
544
507
819
98
175
189
633
4062
1460
283

In [18]:
following = defaultdict(int)

for d_list in friends_list:
    for user in d_list:
        following[user] += 1

In [21]:
users = pd.DataFrame()

users['id'] = following.keys()

In [23]:
users['following'] = [following[user] for user in users['id']]

In [34]:
big_users = users[users['following'] >= 5]

In [35]:
big_users.sort_values(['following'],ascending=False)

                       id  following
2237               765548         17
787             216939636         17
565              14839109         14
779              48008938         14
465             175282603         14
509              80422885         14
8372             17163609         14
2227            534563976         13
626              20167623         13
12567            14344469         13
854            4398626122         12
835            4783690002         12
726              33838201         12
871             130745589         12
1280             18463930         12
783            2956121356         12
824            1482581556         12
2106             14109167         12
873              33836629         12
2273             69133574         11
874              68746721         11
710               1344951         11
895              86351835         11
884              70831441         11
8295             22512172         10
507             167960058         10
8378             16061930         10
9085             34677653         10
730            1408142352         10
880            3918111614         10
...                   ...        ...
8338              2730791          5
674             223231159          5
672              65375759          5
668              15823641          5
617              42226885          5
7418             14554287          5
8663              1586501          5
8669             22387220          5
8692               808627          5
8945              2981431          5
8999                 3840          5
9080             19187806          5
8276            379923901          5
8220             56843433          5
8205   776585502606721024          5
731              21828411          5
8196             92839676          5
733            1477712862          5
8175             46440718          5
744             183749519          5
8137            610659001          5
8117            743452002          5
8046           2543588034          5
7967             12014302          5
750            3187990776          5
7913             15298751          5
758              17661484          5
7703             17466375          5
761             438301250          5
11               15506669          5

[344 rows x 2 columns]